header{
    /* padding top right botton left */
    padding: 0.3rem 10rem 0.3rem 10rem;
 
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    color: #000;
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    background: #00d2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00d2ff, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  color: #fff; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

   }
::placeholder{
    padding-left: 1rem;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-button-1 ul{
    display:flex ;
    gap: 0.6rem;
    align-items: center;
}
.header-top-button-2 ul{ 
    display: flex;
    gap: 0.6rem;
    align-items: center;
}
.header-top-button-1,.header-top-button-2{
    display: inline;
}
.header-mid{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.header-mid-search{
    display: flex;
    width: 52rem;
    height: 2.5rem;
}
.header-mid .header-mid-logo img{
  
    height: 3rem;
    display: flex;
}
.header-mid .header-mid-input input{
    width: 47rem;
    height: 2.35rem;
    border: none;
    padding-left: 1rem;


}
.header-mid .header-mid-cart i{
    font-size: 2rem;
    /* color:white */
}
.header-mid-searchbutton button{
    width: 3.75rem;
    height: 2.35rem;
    background-color: #fb6445;
    border:none;
    outline: none;
    color: #fff;
    
}

.header-bottom{
    padding-top: 0.3rem;
}
.header-bottom ul{
    display: flex;
    justify-content: center;
    padding-right: 9rem;
    gap: 0.8rem;
}
