header{
    /* padding top right botton left */
    padding: 0.3rem 10rem 0.3rem 10rem;
    background-color: aqua;
    color: white}
::placeholder{
    padding-left: 1rem;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-button-1 ul{
    display:flex ;
    gap: 0.6rem;
    align-items: center;
}
.header-top-button-2 ul{ 
    display: flex;
    gap: 0.6rem;
    align-items: center;
}
.header-top-button-1,.header-top-button-2{
    display: inline;
}
.header-mid{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.header-mid-search{
    display: flex;
    width: 52rem;
    height: 2.5rem;
}
.header-mid .header-mid-logo img{
    width: 10rem;
    height: 3rem;
    display: flex;
}
.header-mid .header-mid-input input{
    width: 47rem;
    height: 2.1rem;
    border: none;
}
.header-mid .header-mid-cart i{
    font-size: 2rem;
    color:white
}
.header-mid-searchbutton button{
    width: 3.75rem;
    height: 2.1rem;
    background-color: #fb6445;
    border:none;
    outline: none;
}
.header-mid-searchbutton i{
    color:white;
}
.header-bottom{
    padding-top: 0.3rem;
}
.header-bottom ul{
    display: flex;
    justify-content: center;
    padding-right: 9rem;
    gap: 0.8rem;
}
