/* .test-slider.slick-initialized.slick-slider.slick-dotted{
    display: flex;
} */
/* .slick-dots {
    display: flex;
    list-style: none;
}
.slick-next.slick-arrow,.slick-prev.slick-arrow,.
{
    display: flex;
} */
body{
    padding: 0.3rem 10rem 0.3rem 10rem;
}
/* .test-slider{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px ;
    align-items: center;
} */


.image img{
    width: 49rem;
    height: 14.43rem;
    object-fit: cover;
}
.title{
    text-align: center;
}
.slider{
    display: flex;
    gap: 5px;
}
.slider-autoplay{
    width: 49rem;
    height: 14.5rem;
}
.slick-initialized .slick-slide{
    margin-right: 20px;
}
.slick-prev{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    opacity: 0.5;
    color: #ffff;
    width: 2.188rem;
    height: 3.75rem;
    /* filter: alpha(opacity=90); */
}
.slick-prev i{
    font-size: 25px;
    /* text-align::; */
}
.slick-next{
    position: absolute;
    right: 0;
   top: 50%;
   transform: translateY(-50%);
   padding: 10px 20px;
   z-index: 2;
   border: none;
   background-color: #000000;
   opacity: 0.5;
   color: #ffff;
   width: 2.188rem;
   height: 3.75rem;
}
.slick-next i{
    font-size: 25px;
}
.slick-dots{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
    z-index: 99;
    gap:0.5rem ;
}
.slick-dots li button{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 0;
    width: 12px;
    height: 12px; 
}
.slider-banner{
    display:flex;
    flex-direction: column;
}
.slider-banner img{
    width: 24rem;
    height: 7.1rem;
}